.projects {
    border: 3px solid teal;
}

.projects-header {
    padding-top: 6vh !important;
    font-size: 2.5rem !important;
}

.projects-header hr {
    text-align: center;
    width: 2em;
    border: 3px solid black;
}