.about {
    border: 3px solid teal;
    padding-bottom: 4vh;
}

.about-header {
    padding-top: 6vh !important;
    font-size: 2.5rem !important;
}

.about-header hr {
    text-align: center;
    width: 2em;
    border: 3px solid black;
}

.titles-desktop, .titles-mobile {
    padding-top: 3em !important;
}

.titles-desktop h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.6rem;
}

.titles-mobile h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.titles-desktop h2, .titles-mobile h2 {
    font-weight: normal;
    margin-top: 0.2vh;
    font-size: 1.2rem;
}

.talent-list{
    margin-top: 6vh !important;
}

.talent-list-segment , .its-me-segment{
    border-radius: 15px !important;
    background-color: #d3dee6 !important;
}

.talent-row{
    padding-bottom: 0 !important;
}

.talent-row-last{
    padding-bottom: 2vh !important;
}

.talent-col-label{
    padding-right: 0 !important;
}

.talent-col-label-desktop{
    width: 4.3vw !important;
}

.talent-col-label-mobile{
    width: 15vw !important;
}

.talent-progressbar{
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

.its-me{
    padding-top: 0.5vh !important;
    font-size: 1.9rem !important;
}

.its-me-text{
    margin-top: 2vh;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.5;
}