.instagram-btn {
    margin-left: 0.5em !important;
}

.navbar-background-image {
    background: url('../../images/12.jpg') center/cover no-repeat !important;
}

.navbar-header {
    font-Weight: normal !important;
    margin-Bottom: 0 !important;
}

.navbar-header-mobile {
    font-Size: 1.9em !important;
    margin-Top: 3.5em !important;
}

.navbar-header-pc {
    font-Size: 3.1em !important;
    margin-Top: 1.7em !important;
}