.footer-div{
    background-color: grey !important;
    width: 100vw;
}

.bottom-logo{
    margin-top:-150px;
    padding-top: 2vh;
}

.footer-text{
    font-weight: normal;
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.5;
}

.footer-icon-div{
    padding: 0.1vh 20px 2vh 20px;
    display: inline-block;
}

.footer-icon{
    cursor: pointer;
}
